@import url('https://fonts.googleapis.com/css?family=Bangers&');
@import url('https://fonts.googleapis.com/css?family=Archivo&');

:root {
    --color-primary-100: #324c67;
    --color-primary-200: #485e77;
    --color-primary-300: #5d7087;
    --color-primary-400: #738397;
    --color-primary-500: #8a97a8;
    --color-primary-600: #e2e2e2;

    --color-surface-100: #121212;
    --color-surface-300: #3f3f3f;

    --color-surface-mixed-100: #191d22;
    --color-surface-mixed-300: #45484c;

    --overlay-color: rgb(0 0 0 / 80%);

    --color-danger-300: #eb4747;
    --color-danger-600: #fad1d1;
    --color-danger-100: #6b2e2e;

    --border-color: #444;

    --color-font: #e2e2e2;
    --color-font-muted: #ccc;
    --color-font-secondary: #282828;

    --button-font-family: "Bangers", sans-serif;
    --normal-font-family: "Archivo", sans-serif;

    --default-border-radius: 5px;
    --default-border-width: 2px;

    --game-index: 3;
    --side-index: calc(var(--game-index) * 3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: var(--normal-font-family);
    background: var(--color-surface-mixed-100);
    color: var(--color-font);
    overflow-x: hidden;
}

.select {
    position: relative;
    width: 100%;
    background-color: var(--color-primary-600);
    border: var(--default-border-width) solid var(--color-primary-500);
    border-radius: var(--default-border-radius);
    color: var(--color-font-secondary);

    &::before {
        font-family: FontAwesome;
        content: "\f0d7";
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        display: grid;
    }

    select {
        width: 100%;
        padding: .5rem;
        color: inherit;
        appearance: none;
        border: none;
        font: inherit;
        background: transparent;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--button-font-family);
    border: none;
    color: inherit;
    cursor: pointer;
    background: transparent;
    transition: all .3s ease;

    i {
        font-size: 1.2rem;
        vertical-align: middle;
        margin-bottom: 0.09rem;

        @media(width <=768px) {
            font-size: 1rem;
        }
    }

    &.button-primary,
    &.button-danger,
    &.button-outline-primary,
    &.button-outline-danger {
        padding: .25rem .5rem;
        border-radius: var(--default-border-radius);
        border: var(--default-border-width) solid;
    }

    &.button-primary {
        background-color: var(--color-primary-100);
        border-color: var(--color-surface-mixed-300);
        color: var(--color-font);
    }

    &.button-outline-primary {
        background-color: var(--color-primary-600);
        border-color: var(--color-primary-200);
        color: var(--color-primary-100);
    }

    &.button-danger {
        background-color: var(--color-danger-300);
        border-color: var(--color-danger-100);
        color: var(--color-font);
    }

    &.button-outline-danger {
        background-color: var(--color-danger-600);
        border-color: var(--color-danger-100);
        color: var(--color-danger-300);
    }

    &.button-active {
        position: relative;
        background-color: var(--color-primary-300);

        &::before {
            font-size: .8rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 1rem;
            font-family: FontAwesome;
            content: "\f0da";
            font-size: .8rem;
        }
    }

    &:hover,
    &:focus {
        filter: brightness(80%);
    }
}

.size-1 {
    font-size: 1.6rem;

    @media (width <=768px) {
        font-size: 1.2rem;
    }
}

.size-2 {
    font-size: 1.4rem;

    @media (width <=768px) {
        font-size: 1rem;
    }
}

.size-3 {
    font-size: 1.2rem;

    @media (width <=768px) {
        font-size: 0.8rem;
    }
}

.table-responsive {
    width: 100%;
    height: 100%;
    overflow: hidden auto;

    color: var(--color-font-secondary);
    background-color: var(--color-primary-600);
    border-radius: var(--default-border-radius);

    @media(width<=768px) {
        overflow: auto;
    }
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        text-align: center;
        border: calc(var(--default-border-width) / 2) solid var(--border-color);

        td {
            padding: .25rem;

            code {
                background: var(--color-primary-100);
                padding: .25rem .5rem;
                border-radius: var(--default-border-radius);
                color: var(--color-font);
                font-size: .8rem;

                i {
                    font-size: inherit;
                }
            }
        }
    }

    &.scoreboard-table {
        tr {
            &:not(.empty):nth-child(1) {
                background-color: var(--color-primary-300);
                color: var(--color-font);
            }

            &:nth-child(2) {
                background-color: var(--color-primary-400);
            }

            &:nth-child(3) {
                background-color: var(--color-primary-500);
            }

            &.user-score td:nth-child(2) {
                &::before {
                    margin-right: 1rem;
                    transform: translateY(-50%);
                    font-family: FontAwesome;
                    content: "\f007";
                }
            }
        }
    }
}