@keyframes jump {

    0%,
    100% {
        bottom: 10px;
    }

    40%,
    50%,
    60% {
        bottom: 150px;
    }
}

@keyframes jump-resized {

    0%,
    100% {
        bottom: 10px;
    }

    40%,
    50%,
    60% {
        bottom: 200px;
    }
}

@keyframes obstacle-running {
    from {
        right: -150px;
    }

    to {
        right: 110%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}