@import url("./variables.css");
@import url("./keyframes.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: var(--normal-font-family);
    background: var(--color-surface-mixed-100);
    color: var(--color-font);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--button-font-family);
    border: none;
    color: inherit;
    cursor: pointer;
    background: transparent;
    transition: all .3s ease;

    i {
        font-size: 1.2rem;
        vertical-align: middle;
        margin-bottom: 0.09rem;

        @media(width <=768px) {
            font-size: 1rem;
        }
    }

    &.button-primary,
    &.button-danger,
    &.button-outline-primary,
    &.button-outline-danger {
        padding: .25rem .5rem;
        border-radius: var(--default-border-radius);
        border: var(--default-border-width) solid;
    }

    &.button-primary {
        background-color: var(--color-primary-100);
        border-color: var(--color-surface-mixed-300);
        color: var(--color-font);
    }

    &.button-outline-primary {
        background-color: var(--color-primary-600);
        border-color: var(--color-primary-200);
        color: var(--color-primary-100);
    }

    &.button-danger {
        background-color: var(--color-danger-300);
        border-color: var(--color-danger-100);
        color: var(--color-font);
    }

    &.button-outline-danger {
        background-color: var(--color-danger-600);
        border-color: var(--color-danger-100);
        color: var(--color-danger-300);
    }

    &:hover,
    &:focus {
        filter: brightness(80%);
    }
}

.size-1 {
    font-size: 1.6rem;

    @media (width <=768px) {
        font-size: 1.2rem;
    }
}

.size-2 {
    font-size: 1.4rem;

    @media (width <=768px) {
        font-size: 1rem;
    }
}

.size-3 {
    font-size: 1.2rem;

    @media (width <=768px) {
        font-size: 0.8rem;
    }
}

.toast-wrapper {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: calc(var(--side-index) + 1);
    display: none;

    .toast {
        display: grid;
        grid-template-columns: 1.5rem 1fr;
        overflow: hidden;
        border-radius: var(--default-border-radius);
        color: var(--color-font-secondary);

        &.success-toast {

            .toast-banner,
            .toast-icon {
                background-color: var(--color-primary-100);
            }
        }

        &.error-toast {

            .toast-banner,
            .toast-icon {
                background-color: var(--color-danger-300);
            }
        }

        .toast-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            background-color: var(--color-font);
            padding: .5rem 1.5rem;

            .toast-icon {
                display: grid;
                place-items: center;
                width: 2rem;
                aspect-ratio: 1;
                border-radius: 50%;
                color: var(--color-font);
            }

            .toast-title {
                font-size: 1.2rem;
            }

            .toast-text {
                font-size: .9rem;
            }
        }
    }
}

.preloader {
    position: absolute;
    inset: 0;
    background-color: var(--color-surface-mixed-100);
    z-index: calc(var(--side-index) + 1);
    display: grid;
    place-items: center;

    .spinner {
        width: 2.5rem;
        aspect-ratio: 1;
        border: 3px solid var(--color-font);
        border-left-color: var(--color-primary-100);
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

.google-account {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    button {
        font-family: var(--normal-font-family);
        font-size: 1rem;
        width: inherit;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: .25rem .5rem;
        background-color: var(--color-primary-100);
        border: var(--default-border-width) solid var(--border-color);
        border-radius: var(--default-border-radius);
        cursor: pointer;

        img {
            border-radius: 50%;
            border: 1px solid var(--border-color);
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            text-align: left;

            p {
                font-size: 1rem;
            }

            small {
                color: var(--color-font-muted);
                font-size: .7rem;
            }
        }
    }

    .dropdown {
        position: absolute;
        inset: 100% 100% 0 0;
        display: none;
        width: 100%;
        z-index: var(--side-index);

        .dropdown-menu {
            display: grid;
            border: var(--default-border-width) solid var(--border-color);
            border-radius: var(--default-border-radius);
            overflow: hidden;

            button {
                border-radius: 0;
                border: none;
            }
        }
    }
}

.display {
    display: grid;
    place-items: center;
    height: 100vh;

    .game-board {
        position: relative;
        overflow: hidden;
        border-radius: calc(var(--default-border-radius) * 2);
        border: calc(var(--default-border-width) * 2) solid var(--border-color);
        box-shadow: 0 0 3rem var(--color-surface-mixed-300);
        width: 100%;
        max-width: 854px;
        aspect-ratio: 16/9;

        @media(width <=768px) {
            width: 100%;
            height: 100%;
            aspect-ratio: unset;
        }

        .game-screen {
            position: absolute;
            text-align: center;
            inset: 0;
            z-index: var(--game-index);

            [data-back-start-btn] {
                margin-top: auto;
                align-self: flex-start;
            }

            .screen-content {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                gap: 2rem;
                padding: 4rem;

                .screen-texts,
                .screen-buttons {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                .screen-texts {
                    gap: 0.5rem;
                }

                .screen-buttons {
                    width: 40%;
                    gap: 0.3rem;

                    button {
                        text-align: center;
                        white-space: nowrap;
                        width: 100%;
                    }

                    @media(width <=768px) {
                        &.images img {
                            display: none;
                        }
                    }
                }
            }

            &.game-start-screen,
            &.game-config-screen,
            &.game-commands-screen,
            &.game-scoreboard-screen {
                background: url('../img/main-background.webp') no-repeat;
                background-size: cover;
            }

            &.game-start-screen {
                display: block;
                padding-bottom: 0;

                @media(width <=768px) {
                    img {
                        display: none;
                    }
                }
            }

            &.game-commands-screen,
            &.game-scoreboard-screen {
                display: none;

                small {
                    color: var(--color-font-muted);
                    font-size: .8rem;
                }

                .table-responsive {
                    width: 100%;
                    height: 90%;
                    overflow: hidden auto;

                    @media(width<=768px) {
                        overflow: auto;
                    }

                    table {
                        border-collapse: collapse;
                        background-color: var(--color-primary-600);
                        color: var(--color-font-secondary);
                        text-align: left;
                        width: 100%;

                        tr {
                            border-bottom: var(--default-border-width) solid var(--color-surface-mixed-300);
                        }

                        td {
                            padding: .5rem;

                            code {
                                background: var(--color-primary-100);
                                padding: .25rem .5rem;
                                border-radius: var(--default-border-radius);
                                color: var(--color-font);
                            }
                        }
                    }
                }
            }

            &.game-scoreboard-screen {

                tr {
                    text-align: center;

                    &:not(.empty):nth-child(1) {
                        background-color: var(--color-primary-300);
                        color: var(--color-font);
                    }

                    &:nth-child(2) {
                        background-color: var(--color-primary-400);
                    }

                    &:nth-child(3) {
                        background-color: var(--color-primary-500);
                    }

                    &.user-score td:nth-child(2) {
                        &::before {
                            margin-right: 1rem;
                            transform: translateY(-50%);
                            font-family: FontAwesome;
                            content: "\f007";
                        }
                    }

                    .select-col {
                        padding: unset;

                        .select {
                            position: relative;
                            width: 100%;
                            background-color: var(--color-primary-600);
                            border: var(--default-border-width) solid var(--color-primary-500);
                            border-radius: var(--default-border-radius);
                            color: var(--color-font-secondary);

                            &::before {
                                font-family: FontAwesome;
                                content: "\f0d7";
                                position: absolute;
                                top: 50%;
                                right: 1rem;
                                transform: translateY(-50%);
                                display: grid;
                            }

                            select {
                                width: 100%;
                                padding: .5rem;
                                color: inherit;
                                appearance: none;
                                border: none;
                                font: inherit;
                                background: transparent;
                            }
                        }
                    }
                }
            }

            &.game-over-screen {
                display: none;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    background-color: var(--overlay-color);
                }
            }

            &.game-config-screen {
                display: none;

                #game-config-message {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    width: 90%;
                    max-width: 600px;
                    padding: .5rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.6rem;
                    border: var(--default-border-width) solid var(--border-color);
                    border-top: unset;
                    background-color: var(--color-primary-200);
                    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
                    transform: translateX(-50%) translateY(-100%);
                    transition: transform .3s ease;

                    &.active {
                        transform: translateX(-50%) translateY(0%);
                    }

                    i {
                        font-size: 1rem;
                    }
                }

                .screen-content {
                    justify-content: space-evenly;
                    align-items: flex-start;

                    .options-container {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-evenly;
                        width: 100%;
                        gap: 4rem;

                        @media(width <=768px) {
                            gap: 2rem;
                        }

                        h3 {
                            margin-bottom: 1rem;
                        }

                        .options {
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            gap: .6rem;

                            .screen-buttons {
                                width: 100%;

                                button {
                                    position: relative;
                                    width: inherit;

                                    &.button-active {
                                        background-color: var(--color-primary-200);

                                        &::before {
                                            font-size: .8rem;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            left: 1rem;
                                            font-family: FontAwesome;
                                            content: "\f0da";
                                            font-size: .8rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .game {
            position: absolute;
            background: url("../img/game-background.webp") no-repeat bottom;
            background-size: cover;
            inset: 0;

            #mobile-jump-area {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                z-index: calc(var(--game-index) + 1);
                display: none;

                span {
                    width: 4rem;
                    aspect-ratio: 1;
                    border: var(--default-border-width) solid var(--color-primary-200);
                    background-color: var(--color-primary-100);
                    border-radius: var(--default-border-radius);
                    display: grid;
                    place-items: center;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            #time-counter {
                position: absolute;
                top: 0;
                left: 0;
                z-index: var(--game-index);
                padding: .5rem 1rem;
                border-right: var(--default-border-width) solid var(--border-color);
                border-bottom: var(--default-border-width) solid var(--border-color);
                background-color: var(--color-primary-100);
                border-radius: 0 0 var(--default-border-radius) 0;
            }

            #character {
                position: absolute;
                display: none;
                width: 7rem;
                z-index: var(--game-index);
                left: 20px;
                bottom: 10px;

                &.jump {
                    animation: jump .6s linear;
                }

                &.resized {
                    width: 14rem;

                    &.jump {
                        animation-name: jump-resized;
                    }
                }
            }

            #obstacle {
                display: none;
                position: absolute;
                bottom: 15px;
                right: -120px;
                z-index: calc(var(--game-index) - 1);
            }
        }
    }
}