* {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: monospace;
    color: #fff;
}

body {
    background: #000;
    overflow-x: hidden;
}

.sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    z-index: 8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 5vw;
    height: 100vh;
}

.sidemenu ul {
    width: 80%;

    padding: .8em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
}

.sidemenu ul li {
    padding: .2em 0;
}

.sidemenu i,
.player-control i {
    cursor: pointer;
    font-size: 1.6em;
}

#lixeira {
    cursor: pointer;
}

.sidemenu i:hover,
.player-control i:hover,
#alterarTela i:hover {
    color: #a9a9a9;
}

.togglers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.togglers span {
    padding: .6em 0;
}

.sidemenu p {
    text-align: center;
}

.player-control {
    top: 16%;
    left: -100%;

    justify-content: space-around;

    width: 25vw;
    height: 10vh;
}

.player-control,
.pontuacao,
.comandos {
    position: absolute;

    border-radius: 5px;
    background: #252525d1;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    align-items: center;

    transition: .6s;
    opacity: 0;

    z-index: 7;
}

.pontuacao {
    top: 0;
    left: -100%;

    flex-direction: column;
    justify-content: center;

    width: 50vw;
    height: 100vh;

    overflow-y: auto;
}

.pontuacao .lista {
    list-style: decimal;
    text-align: center;
    margin: 1em 0;
}

.pontuacao .lista li {
    font-family: sans-serif;
}

.pontuacao.clicked,
.player-control.clicked,
.comandos.clicked {
    opacity: 1;
}

.player-control.clicked {
    left: 10vh;
}

.pontuacao.clicked {
    left: 0;
}

.comandos.clicked {
    left: 5vw;
}

.comandos {
    justify-content: center;

    width: 40vw;
    height: 100vh;

    left: -100%;
}

.comandos table {
    border-collapse: collapse;
    border: 1px solid #000;

    font-size: 1.5rem;
    text-align: center;
}

.comandos table td,
.comandos table th {
    font-weight: 500;
    padding: .3rem .5rem;
    border: 1px solid #000;
}

.comandos table tr td code {
    background: #444;
    padding: .1em .15em;
    border-radius: 4px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.game-board {
    margin-top: 10vh;
    border-radius: 10px;
    transition: .4s;
    width: 854px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 5px solid #363636;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/gameBackground.jpg");
    background-size: cover;
    background-position: bottom;
}

.dark-screen {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: #000;
    opacity: 0;
}

.game-board.resized {
    margin-top: 20vh !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 6;
}

#alterarTela {
    display: flex;
    z-index: 7;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    font-size: 1.6em;
    cursor: pointer;
}

#contador {
    display: flex;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 1.5em;
}

.span-container {
    position: absolute;
    background: #d2291ad1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: 10vh;
    z-index: 8;
    border-radius: 0 0 5px 5px;
}

#msg-personagem,
#msg-dificuldade {
    text-shadow: #ff0000 -2px 0, #00ffff 2px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.home-container,
.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.home-container {
    display: flex;
    background-image: url('../img/mainBackground.png');
    background-size: cover;
}


.home-container::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background: #00000077;
}

.home-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 50%;
}

.home-container img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.game-over {
    display: none;
    font-size: 2rem;
    background: #25252582;
}

.game-over h1 {
    font-size: 3rem;
    z-index: 2;
}

#mostrarTempo {
    font-size: 1.3rem;
    text-align: center;
    text-shadow: #ff0000 -1px 0, #00ffff 1px 0;
}

#iniciar,
#reiniciar,
.dificuldade-btn,
.toggleConfig,
#btnVolta,
.game-over h1 {
    display: block;
    text-shadow: #ff0000 -1px 0, #00ffff 1px 0;
    color: #fff;
    border: none;
}

#iniciar,
#reiniciar,
.dificuldade-btn,
#btnVolta {
    font-size: 1.8rem;
}

.toggleConfig {
    font-size: 1.5rem;
}

#iniciar,
#reiniciar,
.dificuldade-btn,
.toggleConfig {
    background: none;
    padding: 5px;
}

#btnVolta {
    background: #d2291a;
    margin-top: 5%;
    padding: 4px;
    border-radius: 5px;
}

#iniciar,
#reiniciar {
    animation: blink 2s infinite ease-in-out;
}

.container-config {
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    z-index: 3;
    background: #000000d2;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container-config .config-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.dificulty-container,
.characters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.container-config.clicked {
    display: flex;
}

.dificulty-container h3,
.characters-container h3 {
    padding: 4%;
    text-shadow: #ff0000 -2px 0, #00ffff 2px 0;
    font-size: 1.7rem;
    color: #fff;
}

.characters-container .imgs {
    display: flex;
}

#personagem01,
#personagem02 {
    cursor: pointer;
    opacity: .7;
    width: 64px;
    display: flex;
}

#personagem01:hover,
#personagem02:hover,
button:hover,
.sidemenu i:hover,
.player-control i:hover {
    transform: scale(1.05);
    opacity: 1;
}

#personagem01.selecionado,
#personagem02.selecionado {
    opacity: 0
}

button {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .7;
    cursor: pointer;
}

.jogador {
    position: absolute;
    display: none;
    width: 10em;
    z-index: 3;
    left: 20px;
    bottom: 10px;
    transition: .3s;
}

.jogador.resized {
    bottom: 12px;
    width: 12em;
    left: 30px;
}

.obstaculo {
    position: absolute;
    bottom: 15px;
    right: -120px;
    z-index: 2;
}

.obstaculo.resized {
    bottom: 18px;
}

#imgCriada {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 2;
}

.jump {
    animation: jump .5s ease-out;
}

.area-mobile {
    opacity: .5;
    border-radius: 20px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 40em;
    height: 20em;
}

.area-mobile p {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.botoes-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    padding: 5%;
    border-radius: 10px;
}

.botoes-mobile button {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #fff;
}

.botoes-mobile h3 {
    color: #fff;
    padding: 4% 0;
    font-size: 2em;
}

.botoes-mobile #iniciar-mobile {
    background: #008000;
}

.botoes-mobile #reiniciar-mobile {
    background: #008086;
}

.botoes-mobile .dificuldade-btn-mobile {
    background: #ca4f12;
}

.dificulty-container-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    margin: 0 0 3% 0;
    z-index: 2;
}

.dificulty-content-mobile {
    display: flex;
}

.recorde {
    font-size: 1.3rem;
    color: #d22c2c;
    font-weight: 600;
}

/* Animações */
@keyframes jump {

    0%,
    100% {
        bottom: 10px;
    }

    40%,
    50%,
    60% {
        bottom: 120px;
    }
}

@keyframes obstaculo {
    from {
        right: -120px;
    }

    to {
        right: 110%;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes blink2 {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-0.5deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(0.5deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-0.5deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-0.5deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-0.5deg);
    }
}


/* Mediaquery */
@media(max-width:992.98px) {
    .sidemenu {
        width: 100vw;
        height: 10vh;

        top: 90vh;
        flex-direction: row;
    }

    .sidemenu ul {
        border-right: 1px solid #363636;
        border-left: 1px solid #363636;
        border-top: none !important;
        border-bottom: none !important;
        width: 20% !important;
        flex-direction: row !important;
    }

    .pontuacao,
    .comandos {
        width: 80vw;
    }

    .player-control {
        top: 65vh;
        flex-direction: column;
        justify-content: center !important;

        width: 20vw;
        height: 25vh;
    }

    .player-control.clicked,
    .comandos.clicked {
        left: 0;
    }

    .controls {
        display: flex;
        flex-direction: column;
        margin: .5em;
    }

    .player-control .controls i {
        font-size: 2em;
        padding: .5em 0 !important;
    }

    .player-control span {
        font-size: 2em;
    }

    .togglers {
        flex-direction: row;
    }

    .togglers span,
    .sidemenu ul li {
        padding: 0 1rem;
    }

    .sidemenu i,
    .player-control i {
        font-size: 2.8em !important;
    }

    #mostrarTempo,
    .lista li {
        font-size: 1.3em !important;
    }

    .recorde {
        font-size: 1.4em;
    }

    .lista li {
        padding: 3% 0 !important;
    }

    .display {
        height: 40vh !important;
    }

    .area-mobile,
    .botoes-mobile,
    .botoes-mobile button {
        display: flex;
    }

    #iniciar,
    #reiniciar,
    #alterarTela {
        visibility: hidden;
    }

    .toggleConfig {
        display: none !important;
    }
}

@media (max-width:992.92px) and (orientation: landscape) {
    body {
        overflow-y: hidden;
    }

    .display {
        height: 100vh !important;
    }

    .botoes-mobile,
    .area-mobile {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .area-mobile {
        width: auto;
        height: auto;
        left: 90%;
        top: 75vh;
    }

    .area-mobile p {
        padding: 2%;
        font-size: 1.5em;
    }

    .game-board {
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
    }

    .botoes-mobile {
        width: 100%;
        height: 100%;
        top: 10vh;
    }

    .botoes-mobile button {
        width: 10vw;
        height: 6vh;
        font-size: 1.5rem;
        color: #fff;
    }

    #mostrarTempo {
        position: absolute;
        top: 10vh;
    }

    .sidemenu,
    .game-board h1 {
        display: none;
    }
}