@keyframes jump {

    0%,
    100% {
        bottom: 10px;
    }

    40%,
    50%,
    60% {
        bottom: 150px;
    }
}

@keyframes obstacle-running {
    from {
        right: -120px;
    }

    to {
        right: 110%;
    }
}

@keyframes movement {

    0%,
    100% {
        transform: translateX(0) rotate(0);
    }

    25% {
        transform: translateX(-.1rem) rotate(.1deg);
    }

    50% {
        transform: translateX(.1rem) rotate(-.1deg);
    }

    75% {
        transform: translateX(-.1rem) rotate(.1deg);
    }
}

:root {
    --primary-color: hsl(211, 35%, 30%);
    --primary-color-dark: hsl(211, 30%, 20%);
    --danger-color: hsl(0, 80%, 60%);
    --danger-color-dark: hsl(0, 40%, 30%);

    --background-primary: #111;
    --background-secondary: #222;
    --background-tertiary: #333;
    --border-color: #444;

    --font-color: #fff;
    --font-family: "Archivo", sans-serif;

    --radius: 5px;

    --side-width: 5vw;
    --side-height: 10vh;

    --game-index: 3;
    --side-index: 4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    background: var(--background-primary);
    color: var(--font-color);
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all .3s ease;
    color: inherit;
    font: inherit;

    &:hover {
        filter: brightness(80%);
    }

    &.button-primary,
    &.button-danger,
    &.button-outline-primary {
        padding: .35rem 1rem;
        border-radius: var(--radius);
        border: 2px solid;
    }

    &.button-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color-dark);
        color: var(--font-color);
    }

    &.button-outline-primary {
        background-color: var(--font-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

    &.button-danger {
        background-color: var(--danger-color);
        border-color: var(--danger-color-dark);
        color: var(--font-color);
    }
}

.size-1 {
    font-size: 2rem;
}

.size-2 {
    font-size: 1.6rem;
}

.size-3 {
    font-size: 1.2rem;
}

#preloader {
    position: fixed;
    inset: 0;
    background-color: var(--background-primary);
    z-index: calc(var(--side-index) + 1);

    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: var(--side-width) 1fr;
    height: 100vh;

    .aside {
        position: relative;

        .sidemenu-wrapper,
        .commands-wrapper,
        .score-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: 100%;
            background-color: var(--background-secondary);
            border-right: 1px solid var(--border-color);
            padding: 1rem;
        }

        .sidemenu-wrapper .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: .5rem;
        }

        .commands-wrapper,
        .score-wrapper {
            position: absolute;
            inset: 0 auto 0 var(--side-width);
            z-index: var(--side-index);
            width: var(--side-width);
            overflow: hidden;
            pointer-events: none;
            opacity: 0;
            transition: all .3s ease;

            &.selected-screen {
                width: 40vw;
                opacity: 1;
                pointer-events: all;
            }

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .table-responsive {
                width: 100%;
                height: 90%;
                overflow: hidden auto;

                table {
                    border-collapse: collapse;
                    background-color: var(--background-tertiary);
                    text-align: left;
                    width: 100%;

                    tr.recorde {
                        background-color: var(--primary-color);
                    }

                    td {
                        padding: .5rem;
                        border: 1px solid var(--border-color);
                        font-variant-numeric: tabular-nums;

                        code {
                            background: var(--primary-color);
                            padding: .25rem .5rem;
                            border-radius: var(--radius);
                        }
                    }
                }
            }

            h2,
            button,
            td {
                white-space: nowrap;
            }
        }
    }

    .display {
        display: grid;
        place-items: center;
        user-select: none;

        .game-board {
            position: relative;
            overflow: hidden;
            width: calc(100% - 2rem);
            max-width: 854px;
            aspect-ratio: 16/9;
            border-radius: calc(var(--radius) * 2);
            border: 5px solid var(--border-color);
            box-shadow: 0 0 5rem var(--background-tertiary);

            .background {
                position: absolute;
                z-index: -1;
                inset: 0;
            }

            .game-screen {
                position: absolute;
                text-align: center;
                inset: 0;
                z-index: var(--game-index);

                &.start-game-screen {
                    padding-top: 5rem;
                    display: block;
                    background: url('../img/mainBackground.png') no-repeat;
                    background-size: cover;

                    img {
                        margin-top: auto;
                    }
                }

                &.game-over-screen {
                    display: none;
                }

                &.game-config-screen {
                    display: none;
                    background: url('../img/mainBackground.png') no-repeat;
                    background-size: cover;

                    #game-config-message {
                        position: absolute;
                        left: 50%;
                        top: 0;
                        padding: .5rem 1rem;
                        display: flex;
                        align-items: center;
                        gap: 0.6rem;
                        border: 2px solid var(--border-color);
                        border-top: unset;
                        background-color: var(--primary-color);
                        border-radius: 0 0 var(--radius) var(--radius);
                        transform: translateX(-50%) translateY(-100%);
                        transition: transform .3s ease;

                        &.active {
                            transform: translateX(-50%) translateY(0%);
                        }
                    }

                    .screen-content {
                        justify-content: space-evenly;

                        .options-container {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-evenly;
                            width: 100%;
                            gap: 2rem;

                            h3 {
                                margin-bottom: 1rem;
                            }

                            .options {
                                flex: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                gap: .6rem;

                                .screen-buttons {
                                    width: 100%;

                                    &.images button {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        gap: 0.3rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .screen-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 100%;
                    padding: 2rem;
                    gap: 2rem;

                    .screen-texts,
                    .screen-buttons {
                        display: flex;
                        flex-direction: column;
                    }

                    .screen-texts {
                        gap: 1rem;

                        >* {
                            text-shadow: 0 0 1rem var(--background-primary);
                        }
                    }

                    .screen-buttons {
                        gap: 0.3rem;

                        button {
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .game {
                position: absolute;
                inset: 0;

                .background {
                    background: url("../img/gameBackground.jpg") no-repeat bottom;
                    background-size: cover;
                }

                &.running .background {
                    animation: movement 1s ease infinite;
                }

                #jump-area-mobile {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    z-index: var(--game-index);

                    display: none;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--primary-color);
                    border: 2px solid var(--primary-color-dark);
                    border-radius: var(--radius);
                    width: 5rem;
                    aspect-ratio: 1;

                    &.hidden {
                        display: none;
                    }

                    @media(width<=768px) {
                        display: flex;
                    }
                }

                #time-counter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: var(--game-index);

                    padding: .5rem 1rem;
                    border-right: 2px solid var(--border-color);
                    border-bottom: 2px solid var(--border-color);
                    background-color: var(--primary-color);
                    border-radius: 0 0 var(--radius) 0;
                }

                #character {
                    position: absolute;
                    display: none;
                    width: 7rem;
                    z-index: var(--game-index);
                    left: 20px;
                    bottom: 10px;

                    &.jump {
                        animation: jump .6s linear;
                    }
                }

                #obstacle {
                    display: none;
                    position: absolute;
                    bottom: 15px;
                    right: -120px;
                    z-index: calc(var(--game-index) - 1);
                }
            }
        }
    }
}

@media (width <=768px) {
    .grid-container {
        grid-template-columns: unset;

        .aside {

            .sidemenu-wrapper,
            .commands-wrapper,
            .score-wrapper {
                height: 10vh;
                border-right: unset;
                border-bottom: 1px solid var(--border-color);
            }

            .sidemenu-wrapper .container {
                flex-direction: row;
            }

            .commands-wrapper,
            .score-wrapper {
                inset: var(--side-height) 0 0 0;
                width: 100%;

                &.selected-screen {
                    width: auto;
                    height: 90vh;
                }
            }
        }
    }
}