@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Archivo');

:root {
    --primary-color: #324c67;
    --primary-color-light: #dde5ee;
    --primary-color-dark: #243242;
    --danger-color: #eb4747;
    --danger-color-light: #fad1d1;
    --danger-color-dark: #6b2e2e;
    --background-primary: #111;
    --background-secondary: #222;
    --background-tertiary: #333;
    --border-color: #444;
    --font-color: #fff;
    --button-font-family: "Bangers", sans-serif;
    --normal-font-family: "Archivo", sans-serif;
    --radius: 5px;
    --border-width: 2px;
    --side-width: calc(5vw + 1rem);
    --game-index: 3;
    --side-index: 4;
}