* {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    background: #000
}

#contador {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    font-size: 1.5rem;
}

.comandos {
    z-index: 15;
    display: none !important;
    border-radius: 10px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    background-color: #111
}

.comandos.active {
    display: block !important;
}

.comandos h1 {
    font-size: 1.3rem;
    padding: 10px;
    text-align: center
}

.comandos ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.comandos li {
    font-size: 1rem;
    padding: 5px
}

.comandos li span {
    color: grey
}

.comandos #importante {
    font-size: .8rem;
    display: flex;
    justify-content: center;
    color: #a23535;
    opacity: .8
}

button {
    font-weight: 500;
    z-index: 15;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    opacity: .7;
    cursor: pointer
}

#personagem01:hover,
#personagem02:hover,
button:hover {
    opacity: 1;
}

/* Botões de escolha de personagem */
.botoes {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -85%);
    z-index: 8
}

#personagem01,
#personagem02 {
    cursor: pointer;
    opacity: .5;
    width: 64px;
    display: flex;
    transition: .4s
}

#personagem01.selecionado,
#personagem02.selecionado {
    opacity: 0
}

/* Botões iniciar e reiniciar */
#iniciar,
#reiniciar {
    transition: .3s;
    text-shadow: #ff0000 -2px 0, #00ffff 2px 0;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    animation: blink 2s infinite ease-in-out;
}

#msg-personagem {
    letter-spacing: 2px;
    z-index: 15;
    font-weight: 400;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0
}

.comandos-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center
}

#exibir-comandos {
    margin: 5px;
    transition: .4s;
    width: 160px;
    height: 40px;
    font-weight: 600;
    border: 1px solid grey;
    color: #fff;
    background: #000;
    border-radius: 10px;
    display: flex;
    padding: 3px 5px;
    justify-content: center;
    align-items: center
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh
}

.iniciar h1,
.game-over h1 {
    text-shadow: #000 2px 1px 2px;
    font-size: 3rem;
}

.iniciar,
.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    z-index: 8;
}

.iniciar {
    visibility: visible;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #dfd80b
}

.game-over {
    font-size: 2rem;
    visibility: hidden;
    background: #000
}

.game-board {
    margin-top: 10vh;
    background-image: linear-gradient(0, #c4f0ff 0, #9dd5f2 50%, #74bade 100%);
    border-radius: 10px;
    transition: .4s;
    width: 854px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 5px solid #363636;
}

#montanhas {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0
}

.cano {
    z-index: 2;
    right: -90px;
    position: absolute;
    bottom: 0;
    width: 75px;
    animation: cano 1.5s infinite linear .6s;
}

.cano1 {
    z-index: 1;
    width: 60px;
    animation: cano 8s infinite linear;
    filter: blur(1px)
}

.cano2 {
    z-index: 1;
    width: 20px;
    animation: cano 12s infinite linear;
    filter: blur(2px)
}

.mario {
    z-index: 2;
    left: 0;
    display: none;
    width: 150px;
    position: absolute;
    bottom: 0
}

.jump {
    animation: jump .5s ease-out
}

#nuvem1,
#nuvem2,
#nuvem3,
#nuvem4 {
    right: -550px;
    position: absolute;
}

#nuvem1 {
    width: 550px;
    animation: nuvens 30s infinite linear;
    filter: blur(3px)
}

#nuvem2 {
    top: 3rem;
    width: 350px;
    animation: nuvens 20s infinite linear;
    filter: blur(2px)
}

#nuvem3 {
    top: 6rem;
    width: 300px;
    animation: nuvens 15s infinite linear;
    filter: blur(1px)
}

#nuvem4 {
    top: 10rem;
    width: 220px;
    animation: nuvens 8s infinite linear
}

#yoshi,
#yoshi-reverse {
    left: -50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    animation: yoshi 2s linear;
    animation-delay: 5s
}

#yoshi-reverse {
    transform: rotateY(180deg);
    animation: yoshi 2s linear reverse;
    animation-delay: 15s
}

@keyframes jump {

    0%,
    100% {
        bottom: 0
    }

    40%,
    50%,
    60% {
        bottom: 160px
    }
}

@keyframes cano {
    from {
        right: -90px
    }

    to {
        right: 100%
    }
}

@keyframes nuvens {
    from {
        right: -550px
    }

    to {
        right: 100%
    }
}

@keyframes yoshi {
    from {
        left: -50px
    }

    to {
        left: 100%
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.area-mobile {
    opacity: .5;
    border-radius: 20px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 40em;
    height: 15em;
}

.area-mobile p {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.botoes-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    height: 10em;
    width: 40em;
    background: #25252528;
    border-radius: 10px;
}

.botoes-mobile button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #fff;
}

.botoes-mobile #iniciar-mobile {
    background: #008000;
}

.botoes-mobile #reiniciar-mobile {
    background: #008086;
}

@media (max-width:1092px) {
    .comandos {
        visibility: hidden
    }

    .comandos-container {
        visibility: hidden
    }

    .display {
        height: 40vh !important;
    }

    .area-mobile,
    .botoes-mobile {
        display: flex;
    }

    #iniciar,
    #reiniciar {
        visibility: hidden;
    }
}