@import url('http://fonts.cdnfonts.com/css/arcade-classic');

* {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: monospace;
    color: #fff;
}

body {
    background: #000;
    overflow-x: hidden;
}

.player-control {
    position: absolute;
    top: 16%;
    left: -100%;
    background: #252525;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;

    transition: .6s;
    width: 25vw;
    height: 10vh;
    z-index: 10;
}

.player-control.clicked {
    opacity: 1;
    left: 10vh;
}

.pontuacao {
    position: absolute;
    top: 0;
    left: -100%;
    background: #252525d1;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .6s;
    opacity: 0;
    width: 40vw;
    height: 100vh;

    z-index: 9;
    overflow-y: auto;
}

.pontuacao .lista {
    list-style: decimal !important;
    text-align: center;
    margin: 1em 0;
}

.sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    z-index: 11;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 5vw;
    height: 100vh;
}

.togglers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.togglers span {
    padding: .6em 0;
}

@media(max-width:992.98px) {
    .sidemenu {
        width: 100vw;
        height: 10vh;

        top: 90vh;
        flex-direction: row;
    }

    .sidemenu ul {
        border-right: 1px solid #363636;
        border-left: 1px solid #363636;
        border-top: none !important;
        border-bottom: none !important;
        width: 20% !important;
        flex-direction: row !important;
    }

    .sidemenu ul li {
        padding: 0 .5em !important;
    }

    .pontuacao {
        width: 70vw;
    }

    .player-control {
        top: 65vh;
        flex-direction: column;
        justify-content: center !important;

        width: 20vw;
        height: 25vh;
    }

    .player-control.clicked {
        left: 0;
    }

    .controls {
        display: flex;
        flex-direction: column;
        margin: .5em;
    }

    .player-control .controls i {
        font-size: 2em;
        padding: .5em 0 !important;
    }

    .player-control span {
        font-size: 2em;
    }

    .togglers {
        flex-direction: row;
    }

    .togglers span {
        padding: 0 .6em;
    }

    i {
        font-size: 2.8em !important;
    }

}

.sidemenu ul {
    width: 80%;

    padding: .8em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
}

.sidemenu ul li {
    padding: .2em 0;
}

i {
    cursor: pointer;
    font-size: 1.6em;
}

i:hover {
    color: #a9a9a9;
}

.toggler,
.lixeira {
    z-index: 7;
}

.pontuacao.clicked {
    opacity: 1;
    left: 0;
}

#contador {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    font-size: 1.5rem;
}

button {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .7;
    cursor: pointer
}

#personagem01:hover,
#personagem02:hover,
button:hover {
    opacity: 1;
}

/* Botões de escolha de personagem */
.botoes {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -85%);
    z-index: 7;
}

#personagem01,
#personagem02 {
    cursor: pointer;
    opacity: .5;
    width: 64px;
    display: flex;
    transition: .4s;
}

#personagem01.selecionado,
#personagem02.selecionado {
    opacity: 0
}

/* Botões iniciar e reiniciar */
#iniciar,
#reiniciar {
    transition: .3s;
    text-shadow: #ff0000 -2px 0, #00ffff 2px 0;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    animation: blink 2s infinite ease-in-out;
}

#msg-personagem {
    letter-spacing: 2px;
    z-index: 8;
    font-weight: 400;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    opacity: 0;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh
}

.iniciar h1,
.game-over h1 {
    text-shadow: #000 2px 1px 2px;
    font-size: 3rem;
    z-index: 7;
}

.iniciar,
.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    z-index: 6;
}

.iniciar {
    background-image: url('./img/mainBackground.png');
    background-size: cover;
    visibility: visible;
    color: #dfd80b
}

.iniciar::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background: #00000077;
}

.game-over {
    font-size: 2rem;
    visibility: hidden;
}

#mostrarTempo {
    font-size: .7em;
}

.game-board {
    margin-top: 10vh;
    background-image: url("./img/gameBackground.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: .4s;
    width: 854px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 5px solid #363636;
}

.obstaculo {
    z-index: 2;
    right: -90px;
    position: absolute;
    bottom: 0;
    width: 65px;
    animation: obstaculo 1.5s infinite linear .6s;
}

.jogador,
#img-gameover {
    z-index: 3;
    left: 0;
    display: none;
    width: 150px;
    position: absolute;
    bottom: 0
}

.jump {
    animation: jump .5s ease-out
}

@keyframes jump {

    0%,
    100% {
        bottom: 0
    }

    40%,
    50%,
    60% {
        bottom: 160px
    }
}

@keyframes obstaculo {
    from {
        right: -90px
    }

    to {
        right: 100%
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.area-mobile {
    opacity: .5;
    border-radius: 20px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 40em;
    height: 15em;
}

.area-mobile p {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.botoes-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    height: 10em;
    width: 40em;
    background: #25252528;
    border-radius: 10px;
}

.botoes-mobile button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #fff;
}

.botoes-mobile #iniciar-mobile {
    background: #008000;
}

.botoes-mobile #reiniciar-mobile {
    background: #008086;
}

@media (max-width:991.98px) {
    .display {
        height: 40vh !important;
    }

    .area-mobile,
    .botoes-mobile {
        display: flex;
    }

    #iniciar,
    #reiniciar {
        visibility: hidden;
    }
}