@import url('http://fonts.cdnfonts.com/css/arcade-classic');

* {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: monospace;
    color: #fff;
}

body {
    background: #000;
    overflow-x: hidden;
}

.sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    z-index: 8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 5vw;
    height: 100vh;
}

.sidemenu ul {
    width: 80%;

    padding: .8em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
}

.sidemenu ul li {
    padding: .2em 0;
}

.sidemenu i,
.player-control i {
    cursor: pointer;
    font-size: 1.6em;
}

#lixeira {
    cursor: pointer;
}

.sidemenu i:hover,
.player-control i:hover {
    color: #a9a9a9;
}

.togglers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.togglers span {
    padding: .6em 0;
}

.player-control {
    top: 16%;
    left: -100%;

    justify-content: space-around;

    width: 25vw;
    height: 10vh;
}

.player-control,
.pontuacao,
.comandos {
    position: absolute;

    border-radius: 5px;
    background: #252525d1;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    align-items: center;

    transition: .6s;
    opacity: 0;

    z-index: 7;
}

.pontuacao {
    top: 0;
    left: -100%;

    flex-direction: column;
    justify-content: center;

    width: 50vw;
    height: 100vh;

    overflow-y: auto;
}

.pontuacao .lista {
    list-style: decimal !important;
    text-align: center;
    margin: 1em 0;
}

.pontuacao .lista li {
    font-family: sans-serif !important;
}

.pontuacao.clicked,
.player-control.clicked,
.comandos.clicked {
    opacity: 1;
}

.player-control.clicked {
    left: 10vh;
}

.pontuacao.clicked {
    left: 0;
}

.comandos.clicked {
    left: 5vw;
}

.comandos {
    justify-content: center;

    width: 40vw;
    height: 100vh;

    left: -100%;
}

.comandos table {
    border-collapse: collapse;
    border: 1px solid #000;

    font-size: 1.5rem !important;
    text-align: center;
}

.comandos table td,
.comandos table th {
    font-weight: 500;
    padding: .3rem .5rem;
    border: 1px solid #000;
}

.comandos table tr td code {
    background: #444;
    padding: .1em .15em;
    border-radius: 4px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.game-board {
    margin-top: 10vh;
    background-image: url("./img/gameBackground.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: .4s;
    width: 854px;
    height: 480px;
    position: relative;
    overflow: hidden;
    border: 5px solid #363636;
}

.game-board.resized {
    margin-top: 20vh !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 6;
}

#alterarTela {
    display: flex;
    z-index: 7;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 1.6em;
    cursor: pointer;
}

#contador {
    display: flex;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 1.5em;
}

#msg-personagem,
#msg-dificuldade {
    letter-spacing: 2px;
    z-index: 3;
    font-weight: 400;
    padding: 4em 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
}

.iniciar,
.game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.iniciar {
    display: flex;
    background-image: url('./img/mainBackground.png');
    background-size: cover;
    visibility: visible;
    color: #dfd80b
}

.iniciar::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background: #00000077;
}

.iniciar h1,
.game-over h1 {
    text-shadow: #000 2px 1px 2px;
    font-size: 3rem;
    z-index: 2;
}

.game-over {
    display: none;
    font-size: 2rem;
}

#mostrarTempo {
    font-size: .7em;
}

#iniciar,
#reiniciar,
.dificuldade-btn {
    text-shadow: #ff0000 -2px 0, #00ffff 2px 0;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background: none;
    padding: 5px;
    z-index: 2;
}

#iniciar,
#reiniciar {
    animation: blink 2s infinite ease-in-out;
}

.dificuldade-container {
    z-index: 2;
    display: flex;
    padding: 2%;
}

.botoes {
    position: absolute;
    display: flex;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -85%);
    z-index: 2;
}

#personagem01,
#personagem02 {
    cursor: pointer;
    opacity: .5;
    width: 64px;
    display: flex;
    transition: .4s;
}

#personagem01:hover,
#personagem02:hover,
button:hover,
.sidemenu i:hover,
.player-control i:hover {
    transform: scale(1.05);
    opacity: 1;
}

#personagem01.selecionado,
#personagem02.selecionado {
    opacity: 0
}

button {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .7;
    cursor: pointer;
}

.jogador {
    position: absolute;
    display: none;
    width: 10em;
    z-index: 3;
    left: 20px;
    bottom: 0;
}

.jogador.resized {
    width: 12em;
    left: 30px;
}

.obstaculo {
    position: absolute;
    bottom: 0;
    right: -90px;
    z-index: 2;
    width: 4em;
}

.obstaculo.resized {
    width: 5em;
}

.jump {
    animation: jump .5s ease-out;
}

.area-mobile {
    opacity: .5;
    border-radius: 20px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 40em;
    height: 20em;
}

.area-mobile p {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.botoes-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
    padding: 5%;
    border-radius: 10px;
}

.botoes-mobile button {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #fff;
}

.botoes-mobile #iniciar-mobile {
    background: #008000;
}

.botoes-mobile #reiniciar-mobile {
    background: #008086;
}

.botoes-mobile .dificuldade-btn-mobile {
    background: #ca4f12;
}

.dificuldade-container-mobile {
    z-index: 2;
    display: none;
    padding: 2%;
}


/* Animações */
@keyframes jump {

    0%,
    100% {
        bottom: 0;
    }

    40%,
    50%,
    60% {
        bottom: 120px;
    }
}

@keyframes obstaculo {
    from {
        right: -90px;
    }

    to {
        right: 100%;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Mediaquery */
@media(max-width:992.98px) {
    .sidemenu {
        width: 100vw;
        height: 10vh;

        top: 90vh;
        flex-direction: row;
    }

    .sidemenu ul {
        border-right: 1px solid #363636;
        border-left: 1px solid #363636;
        border-top: none !important;
        border-bottom: none !important;
        width: 20% !important;
        flex-direction: row !important;
    }

    .pontuacao,
    .comandos {
        width: 80vw;
    }

    .player-control {
        top: 65vh;
        flex-direction: column;
        justify-content: center !important;

        width: 20vw;
        height: 25vh;
    }

    .player-control.clicked,
    .comandos.clicked {
        left: 0;
    }

    .controls {
        display: flex;
        flex-direction: column;
        margin: .5em;
    }

    .player-control .controls i {
        font-size: 2em;
        padding: .5em 0 !important;
    }

    .player-control span {
        font-size: 2em;
    }

    .togglers {
        flex-direction: row;
    }

    .togglers span,
    .sidemenu ul li {
        padding: 0 1rem;
    }

    .sidemenu i,
    .player-control i {
        font-size: 2.8em !important;
    }

    #mostrarTempo,
    .lista li {
        font-size: 1rem !important;
    }

    .lista li {
        padding: 3% 0 !important;
    }

    .display {
        height: 40vh !important;
    }

    .area-mobile,
    .botoes-mobile,
    .botoes-mobile button {
        display: flex;
    }

    #iniciar,
    #reiniciar,
    #alterarTela {
        visibility: hidden;
    }
}

@media (max-width:992.92px) and (orientation: landscape) {
    .display {
        height: 100vh !important;
    }

    .botoes-mobile,
    .area-mobile {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .area-mobile {
        width: auto;
        height: auto;
        left: 90%;
        top: 75vh;
    }

    .area-mobile p {
        padding: 2%;
        font-size: 1.5em;
    }

    .game-board {
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
    }

    .botoes-mobile {
        top: 22vh;
    }

    .botoes-mobile button {
        width: 10vw;
        height: 6vh;
        font-size: 1.5rem;
        color: #fff;
    }

    .sidemenu,
    .game-board h1 {
        display: none;
    }
}